{% extends 'base.html' %}

{% block head %}
<title>Your Super Resolution</title>
{% endblock %}
  
{% block body %}
  
<!--loader-->
<div class="wrapper" id="wrapper">
  <div class="inner"> 
    <div style="display:table-cell;" class="loader"></div>
    <div style="display:table-cell;" class="load-text">If your Image is large this may take a while...</div>
    </div>
  </div>
</div>
{% endblock %}

{% block hero %}
<div class="upload">
  <div class="upload-text">
    <h1>Get More Out Of<br>Your Pictures!</h1>
    <p>You have a picture, which you love, but the resolution is bad?<br>
       Upload your image and increase its resolution by a factor of 4.</p>
    <label for="file" style="cursor: pointer;" class="btn" onclick="showImg(event)">Upload Image</label>
  </div>
</div>
            
<div class="upscaled" id="upscaled">
  <div class="uploaded-img" id="uploaded-img">
    <form class="form-uploaded" method="post" action="{{ url_for('predict') }}" enctype="multipart/form-data"> 
      <input type="file"  accept="image/png, image/jpg, image/jpeg" name="file" id="file" class="file" onchange="loadFile(event)"> 
      <img id="input" class="img-orig" width="200"/>
      <br>
      <br>        
      <div class="div-btn-up">
        <button type="submit" class="btn" id="btn" onclick="showImg(event),showLoader(event)">Upscale Image!</button>           
      </div>
    </form>
  </div>

  <div class="upscaled-img" id="upscaled-img">
    <p><h1>Your upscaled Image</h1></p>
    <br>
    <div class="preview-text">Preview</div>
    <br>
    <div class="preview"> 
      <img class="img-up" id="img-up" src="{{ url_for('static', filename='{}'.format(output_name) ) }}" alt="No output available" width="100"/>
      <a href="{{ url_for('static', filename='{}'.format(output_name) ) }}" download="{{ output_name }}" class="btn">Download</a>   
    </div>
  </div>
</div>
{% endblock %}
  
