data/*
jobs/sr*
jobs/lightning_logs
jobs/saved_models
nni/nni-experiments/*
notebooks/.ipynb_checkpoints/*
saved_models/*
deployment/app/static/tmp/*
deployment/app/static/images/Screenshot.png
mlruns/*
mlruns.db
